media/
# static/
staticfiles/
db.sqlite3
*.log
celerybeat-schedule
celerybeat-schedule.*
*/migrations/*.py
!*/migrations/__init__.py
# Environments
.env
.venv
env
/env
venv/
__pypackages__/
__pycache__/
*.pyc
.DS_Store
server-configuration.md
server-confuguration.md
server-setup.md
README_ARNAB.md