* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; */
    background: #f8f9fa;
    color: #1a1a1a;
}


.toast-messages-container {
  min-width: 300px;
  max-width: 400px;
  
}
.toast-message {
  background: #333;
  color: #fff;
  padding: 14px 40px 14px 18px;
  border-radius: 6px;
  margin-bottom: 0px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.12);
  position: relative;
  opacity: 0.95;
  font-size: 1rem;
  /* animation: toast-fade-in 0.5s; */
}
.toast-message.success { background: #198754; }
.toast-message.error { background: #dc3545; }
.toast-message.warning { background: #ffc107; color: #333; }
.toast-message.info { background: #0dcaf0; color: #333; }
.toast-close {
  position: absolute;
  right: 12px;
  top: 8px;
  cursor: pointer;
  font-size: 1.2em;
}

.alert-danger {
  padding: 10px !important;
  border-radius: 10px;
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}



@keyframes toast-fade-in {
  from { opacity: 0; transform: translateY(-20px);}
  to { opacity: 0.95; transform: translateY(0);}
}

