{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favhost - Manage Short-term rentals</title>
    <link rel="icon" type="image/favhost" href="{% static 'website/img/fev.png' %}">
    <!-- libraries CSS -->
    <link rel="stylesheet" href="{% static 'website/icon/flaticon_charitics.css' %}">
    <link rel="stylesheet" href="{% static 'website/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/vendor/splide/splide.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/vendor/slim-select/slimselect.css' %}">
    <link rel="stylesheet" href="{% static 'website/vendor/animate-wow/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/vendor/flatpickr/flatpickr.min.css' %}">

    <!-- custom CSS -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
	
	<style>
	.ul-service-descr {
        display: -webkit-box;
        -webkit-line-clamp: 2;   /* show only 2 lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: relative;
    }

/* when expanded */
.ul-service-descr.expanded {
    -webkit-line-clamp: unset;
    overflow: visible;
}

/* Read more button */
.read-more-btn {
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
}

	
	
	</style>
	
</head>

<body>
    <div class="preloader" id="preloader">
        <div class="loader"></div>
    </div>

    <!-- SIDEBAR SECTION START -->
    <div class="ul-sidebar">
        <!-- header -->
        <div class="ul-sidebar-header">
            <div class="ul-sidebar-header-logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'website/img/logo.png' %}" alt="logo" class="logo">
                </a>
            </div>
            <!-- sidebar closer -->
            <button class="ul-sidebar-closer"><i class="flaticon-close"></i></button>
        </div>

        <div class="ul-sidebar-header-nav-wrapper d-block d-lg-none"></div>


        <!-- sidebar footer -->
        <div class="ul-sidebar-footer">
            <span class="ul-sidebar-footer-title">Follow us</span>

            <div class="ul-sidebar-footer-social">
                <a href="#"><i class="flaticon-facebook"></i></a>
                <a href="#"><i class="flaticon-twitter"></i></a>
                <a href="#"><i class="flaticon-instagram"></i></a>
                <a href="#"><i class="flaticon-youtube"></i></a>
            </div>
        </div>
    </div>
    <!-- SIDEBAR SECTION END -->

    <!-- SEARCH MODAL SECTION START -->
    <div class="ul-search-form-wrapper flex-grow-1 flex-shrink-0">
        <button class="ul-search-closer"><i class="flaticon-close"></i></button>

        <form action="#" class="ul-search-form">
            <div class="ul-search-form-right">
                <input type="search" name="search" id="ul-search" placeholder="Search Here">
                <button type="submit"><span class="icon"><i class="flaticon-search"></i></span></button>
            </div>
        </form>
    </div>
    <!-- SEARCH MODAL SECTION END -->

    <!-- HEADER SECTION START -->
    <header class="ul-header">
        <div class="ul-header-bottom to-be-sticky">
            <div class="ul-header-bottom-wrapper ul-header-container">
                <div class="logo-container">
                <a href="{% url 'index' %}" class="d-inline-block"><img src="{% static 'website/img/logo.png' %}" alt="logo" class="logo"></a>
                </div>

                <!-- header nav -->
                <div class="ul-header-nav-wrapper">
                    <div class="to-go-to-sidebar-in-mobile">
                        <nav class="ul-header-nav">
                           
							<a href="#feature">Features</a>
                            <a href="#watchdemo">Watch Demo</a>
							<a href="#priceingg">Pricing</a>

                             <a href="#about">About us</a>
                           
                                <a href="#cstories">Customer stories</a>


                             <a href="{% url 'blog' %}">Blogs</a>
 
                           

                            <a href="{% url 'contact' %}">Contact us</a>
                        </nav>
                    </div>
                </div>

                <!-- actions -->
                <div class="ul-header-actions">
<!--                    <button class="ul-header-search-opener"><i class="flaticon-search"></i></button>-->
					<button onclick="window.location.href='{% url 'accounts:login' %}';" class="btn-login">Log In</button>
                    <a href="{% url 'contact' %}" class="ul-btn d-sm-inline-flex d-none"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i> Get started</a>
                    <button class="ul-header-sidebar-opener d-lg-none d-inline-flex"><i class="flaticon-menu"></i></button>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER SECTION END -->


    <main class="overflow-hidden">
        <!-- BANNER SECTION START -->
        <section class="ul-banner">
            <div class="ul-banner-container">
                <div class="row gy-4 row-cols-lg-2 row-cols-1 align-items-center flex-column-reverse flex-lg-row">
                    <!-- banner text -->
                    <div class="col">
                        <div class="ul-banner-txt pb-5">
                            <div class="wow animate__fadeInUp">
<!--                                <span class="ul-banner-sub-title ul-section-sub-title">Change The World Together</span>-->
                                <h1 class="ul-banner-title"> Manage Short-term rentals<br>
                           No double bookings<br>
							0% Commission <br>
						Unlimited listings @$9.99/month</h1>
                                <p class="ul-banner-descr"> One powerful platform to manage your <br>
short-term rental business effortlessly.<br>
Increase Occupancy, maximize profits</p>
                                <div class="ul-banner-btns">
                                    <a href="#" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i> Get Started free for 90 days</a>

                                    <div class="ul-banner-stat">
<!--
                                        <div class="imgs">
                                            <img src=/img/user-1.png" alt="Person">
                                            <img src=/img/user-3.png" alt="Person">
                                            <img src=/img/user-2.png" alt="Person">
                                            <span class="number">2.M</span>
                                        </div>
-->
										<div class="partner-logos" data-aos="slide-up" data-delay="450">
<!--        <img src=/img/expedia.png" alt="Expedia">-->
        <img src="{% static 'website/img/airbnb.png' %}" alt="Airbnb">
        <img src="{% static 'website/img/vrbo.png' %}" alt="Vrbo">
        <img src="{% static 'website/img/booking.png' %}" alt="Booking">
    </div>
<!--                                        <span class="txt">Active donors</span>-->
                                    </div>
                                </div>
                            </div>

<!--                            <img src=/img/vector-img.png" alt="Vector" class="ul-banner-txt-vector">-->
                        </div>
                    </div>

                    <!-- img -->
                    <div class="col align-self-start">
                        <div class="ul-banner-img">
                            <div class="img-wrapper zoom-container overflow-hidden">
                                <img src="{% static 'website/img/herobanner.jpg' %}" alt="Banner Image">
                                <!-- <div class="ul-banner-video-btn">
                                    <a href=""></a>
                                </div> -->
				
                            </div>
                            <div class="ul-banner-img-vectors">
                                <img src="{% static 'website/img/banner-img-vector-1.png' %}" alt="vector" class="vector-1 wow animate__fadeInRight">
                                <img src="{% static 'website/img/banner-img-vector-2.png' %}" alt="vector" class="vector-2 wow animate__fadeInDown">
                            </div>
                        </div>
			
                    </div>
                </div>
            </div>
        </section>
        <!-- BANNER SECTION END -->
		
		 <!-- SERVICES SECTION START -->
        <section class="ul-section-spacing overflow-hidden" id="feature">
            <div class="ul-container">
                <div class="row row-cols-md-3 row-cols-2 row-cols-xxs-1 ul-bs-row">
					<div class="col-md-12">
					<h2 class="mb-4 wow animate__fadeInUp" data-aos="slide-up" data-delay="450">
                            Key Features of Our Channel Manager Application
                        </h2>
						<h4 class="mb-3 wow animate__fadeInUp">Everything you need to manage your property effortlessly</h4>
						</div>
                    <!-- single slide -->
<!--
                    <div class="col">
                        <div class="ul-service ul-service--inner wow animate__fadeInUp">
                            <div class="ul-service-img zoom-container overflow-hidden">
                                <img src=/img/service-1.jpg" alt="Service Image">
                            </div>
                            <div class="ul-service-txt">
                                <h3 class="ul-service-title"><a href="service-details.html">Multi Calendar</a></h3>
                                <p class="ul-service-descr">Multi-Calendar acts as your single source of truth, consolidating reservations from Airbnb, Booking.com, Vrbo, and your direct booking site into one intuitive, real-time interface.</p>
                            
								<span class="read-more-btn">Read More</span>
                            </div>
                        </div>
                    </div>
-->

                    <!-- single slide -->
                    <div class="col">
                        <div class="ul-service ul-service--inner wow animate__fadeInUp">
                            <div class="ul-service-img zoom-container overflow-hidden">
                                <img src="{% static 'website/img/service-2.jpg' %}" alt="Service Image">
                            </div>
                            <div class="ul-service-txt">
                                <h3 class="ul-service-title"><a href="service-details.html">Channel Manager</a></h3>
                                <p class="ul-service-descr">Our integrated Channel Manager acts as your central command center, synchronizing your data across multiple OTAs like Airbnb, VRBO, Booking.com and more. Zero Double-Bookings: Instant, two-way synchronization means that when a guest books on one site, your calendar closes on all others automatically. Boosted Visibility: Easily list on more channels without increasing your workload

</p>
								<span class="read-more-btn">Read More</span>
<!--                                <a href="service-details.html" class="ul-service-btn"><i class="flaticon-up-right-arrow"></i> View Details</a>-->
                            </div>
                        </div>
                    </div>

                  

                    

                    <!-- single slide -->
                    <div class="col">
                        <div class="ul-service ul-service--inner wow animate__fadeInUp">
                            <div class="ul-service-img zoom-container overflow-hidden">
                                <img src="{% static 'website/img/service-5.jpg' %}" alt="Service Image">
                            </div>
                            <div class="ul-service-txt">
                                <h3 class="ul-service-title"><a href="service-details.html">Reservations</a></h3>
                                <p class="ul-service-descr">Manage stress free the short-term rental repetitive tasks for Maintenance, cleaning. Track the cleaning schedules and STR maintenance tracking in a single consolidated Calendar.</p>
<!--                                <a href="service-details.html" class="ul-service-btn"><i class="flaticon-up-right-arrow"></i> View Details</a>-->
								<span class="read-more-btn">Read More</span>
                            </div>
                        </div>
                    </div>
					
					
<!---------------->
					
					
				  <!-- single slide -->
                    <div class="col">
                        <div class="ul-service ul-service--inner wow animate__fadeInUp">
                            <div class="ul-service-img zoom-container overflow-hidden">
                                <img src="{% static 'website/img/service-3.jpg' %}" alt="Service Image">
                            </div>
                            <div class="ul-service-txt">
                                <h3 class="ul-service-title"><a href="service-details.html">Direct booking website</a></h3>
                                <p class="ul-service-descr">Favhostis designed specifically for short-term rental owners who want to maximize their ROI and own their guest relationships. Commission-Free Bookings: Keep 100% of your nightly rate. No more "host fees" or "guest service fees" eating into your margins. Live Availability Sync: Integrated directly with your calendar so you never have to worry about manual updates.</p>
<!--                                <a href="service-details.html" class="ul-service-btn"><i class="flaticon-up-right-arrow"></i> View Details</a>-->
								<span class="read-more-btn">Read More</span>
                            </div>
                        </div>
                    </div>	
					
					
					
<!--------------------------->
					
					
					<!-- single slide -->
                    <div class="col">
                        <div class="ul-service ul-service--inner wow animate__fadeInUp">
                            <div class="ul-service-img zoom-container overflow-hidden">
                                <img src="{% static 'website/img/service-4.jpg' %}" alt="Service Image">
                            </div>
                            <div class="ul-service-txt">
                                <h3 class="ul-service-title"><a href="service-details.html">Listings & Reservations</a></h3>
                                <p class="ul-service-descr">Favhostis designed specifically for short-term rental owners who want to maximize their ROI and own their guest relationships. Property Profiles: Build high-converting listings with high-resolution galleries, YouTube videos sync, detailed amenity lists, and custom house rules to maximize occupancy. Reservations: Create and manage bookings, block dates for maintenance, or view guest check-in/out statuses at a glance.</p>
								
								<span class="read-more-btn">Read More</span>
<!--                                <a href="service-details.html" class="ul-service-btn"><i class="flaticon-up-right-arrow"></i> View Details</a>-->
                            </div>
                        </div>
                    </div>
					
					

                    <!-- single slide -->
                    <div class="col">
                        <div class="ul-service ul-service--inner wow animate__fadeInUp">
                            <div class="ul-service-img zoom-container overflow-hidden">
                                <img src="{% static 'website/img/service-6.jpg' %}" alt="Service Image">
                            </div>
                            <div class="ul-service-txt">
                                <h3 class="ul-service-title"><a href="service-details.html">Manage Tasks</a></h3>
                                <p class="ul-service-descr">Our integrated accounting suite automates your bookkeeping from the moment a guest pays, giving you a real-time view of your business health. Expense & Receipt Tracking: Snap a photo of a maintenance receipt or log a utility bill on the go. Categorize expenses by property to see exactly where your capital is going. ROI & Performance Analytics: Track key metrics like revenue for each listing, expenses and net profit.</p>
								<span class="read-more-btn">Read More</span>
<!--                                <a href="service-details.html" class="ul-service-btn"><i class="flaticon-up-right-arrow"></i> View Details</a>-->
                            </div>
                        </div>
                    </div>
					
					
<!---------------last-post---------->
					 <div class="col">
                        <div class="ul-service ul-service--inner wow animate__fadeInUp">
                            <div class="ul-service-img zoom-container overflow-hidden">
                                <img src="{% static 'website/img/service-1.jpg' %}" alt="Service Image">
                            </div>
                            <div class="ul-service-txt">
                                <h3 class="ul-service-title"><a href="service-details.html">Housekeeping</a></h3>
                                <p class="ul-service-descr">Transform your property's turnaround efficiency with real-time housekeeping updates instantly synced to your listings. Ensure every room meets your highest standards before arrival, driving seamless check-ins and five-star reviews across all your booking channels. Maximize staff productivity and elevate the guest experience with a fully integrated housekeeping management solution.</p>
<!--                                <a href="service-details.html" class="ul-service-btn"><i class="flaticon-up-right-arrow"></i> View Details</a>-->
								<span class="read-more-btn">Read More</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
		</section>
		<!-- ══ How it works ══ -->
    <section class="section-demo wow animate__fadeInUp" id="watchdemo" data-aos="slide-up" data-delay="450">
        <div class="ul-container px-4">
			<div class="row">
			<div class="col-md-12">
				<h2 class="mb-4" data-aos="slide-up" data-delay="450">How it works</h2>
				</div>
			
			<div class="col-md-12">
            <div class="demo-card" data-anim="zoom-in">
                <div class="ratio ratio-16x9">
                    <video id="demoVideo" src="{% static 'website/img/videoo.mp4' %}" playsinline preload="metadata"></video>
                </div>
                <div class="demo-overlay" id="demoOverlay">
                    <div class="demo-play-btn" id="playBtn">
                        <div class="demo-play-icon">
                           <i class="flaticon-play"></i>
                        </div>
                        <span>Watch Demo</span>
                    </div>
                </div>
            </div>
        </div>
				</div>
			</div>
    </section>
		
		
		<section class="section-pricing ul-about wow animate__fadeInUp" id="priceingg">
        <div class="ul-container px-4">
            <div class="row g-5 align-items-center">

                <div class="col-lg-6 animate__animated animate__fadeInLeft" data-anim="fade-right">
					<h2 class="mb-4" data-aos="slide-up" data-delay="450">Pricing</h2>
					
                    <h2 class="pricing-title">
                        Unlimited listing,<br>
                        <span>simplified pricing</span>
                    </h2>
                    <div class="d-flex align-items-baseline gap-3">
                        <span class="pricing-price">USD 9.99/ month</span>
                    </div>
                    <p class="pricing-billed mb-4">Billed annually.</p>
                    <p class="pricing-note mb-4">
                        
0% commission. <br>
Enjoy 90 days Free trial.
                    </p>
					<div>
					
					<a href="#" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i> Get Started free for 90 days</a>
					</div>
<!--
                    <button class="btn-black px-4 py-2" style="min-width:420px;font-size:1rem; padding: 0.75rem 2rem !important; border-radius: 10px;">
                        Sign up
                    </button>
-->
                </div>

                <div class="col-lg-6 d-flex justify-content-lg-end animate__animated animate__fadeInRight"  data-delay="200">
                    <div class="pricing-img zoom-container overflow-hidden" style="max-width: 600px; width: 100%;">
                        <img src="{% static 'website/img/about-3.jpg' %}" alt="Pricing illustration" onerror="this.src='https://placehold.co/600x600?text=Pricing+Illustration'">
                    </div>
                </div>

            </div>
        </div>
    </section>

        <!-- ABOUT SECTION START -->
        


        <!-- DONTATIONS SECTION START -->
        <section class="ul-donations ul-section-spacing overflow-hidden wow animate__fadeInUp">
         


        <!-- WHY JOIN SECTION START -->
        <section class="ul-why-join ul-section-spacing" id="about">
            <div class="ul-why-join-wrapper ul-section-spacing wow animate__fadeInUp">
                <div class="ul-container">
                    <div class="row row-cols-md-2 row-cols-1 gy-4 align-items-center">
                        <div class="col">
                            <div class="ul-why-join-img zoom-container">
                                <img src="{% static 'website/img/aboutt4.jpg' %}" alt="Image">
                            </div>
                        </div>

                        <!-- txt -->
                        <div class="col">
                            <div class="ul-why-join-txt wow animate__fadeInUp">
<!--
                                <span class="ul-section-sub-title">Join us</span>
                                <h2 class="ul-section-title">Why We Need You Become a Volunteer</h2>
-->
								<h2 class="mb-4 wow animate__fadeInUp" data-aos="slide-up" data-delay="450">About us and our Team</h2>
					
                                <p class="ul-section-descr">Favhost was born from a simple observation: the hospitality industry is moving faster than ever, but the tools shouldn't make your life harder.</p>

<p>We are a team of developers, former hoteliers, and tech enthusiasts dedicated to building the most intuitive channel manager web application and the OTA management tool on the market.</p>

<p>There are plenty of vacation rental management tools out there. But we aren’t just a piece of software; we’re your partner in growth. Our Vacation rental management tool prioritize reliability, simplicity, Booking automation to increase occupancy.</p>

                                <div class="ul-accordion">
                                    <div class="ul-single-accordion-item open">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">Our team</h3>
                                            </div>
                                            <span class="icon"><i class="flaticon-next"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>We met hosts and BNB owners across the globe analyze their requirements and problems and decided to build a simplified easy to use affordable platform for Short-term rental industry.</p><br>

<p>From our engineering labs to our customer success desk, we are focused on one goal: Simple solution to maximize your rental revenue.</p><br>

<p>Our platform build for speed and security for real-time API integrations, 99.9% uptime, and a "mobile-friendly" user experience to keep your business running 24/7.</p><br>

<p>Our support team don't just solve technical tickets; we provide strategic advice to help you navigate the complexities of the STR market.</p>
                                        </div>
                                    </div>

<!--
                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">Why Join Us as a Volunteer?</h3>
                                            </div>
                                            <span class="icon"><i class="flaticon-next"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>
-->

<!--
                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">Be Part of a Community</h3>
                                            </div>
                                            <span class="icon"><i class="flaticon-next"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>
-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- WHY JOIN SECTION END -->


       

 <!-- TESTIMONIAL SECTION START -->
        <section class="ul-testimonial-2 ul-section-spacing wow animate__fadeInUp" id="cstories">
            <div class="ul-container ">
                <div class="ul-section-heading">
                    <div>
                        
                        <h2 class="ul-section-title wow animate__fadeInUp">What People Say About us</h2>
                    </div>
<!--                    <a href="#" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i> All Testimonials</a>-->
                </div>

                <div class="row ul-testimonial-2-row gy-4">
                    <!-- card -->
                    <div class="col-md-4">
                        <div class="ul-testimonial-2-overview">
                            <span class="rating">4.9</span>
                            <div class="ul-testimonial-2-overview-stars">
                                <i class="flaticon-star"></i>
                                <i class="flaticon-star"></i>
                                <i class="flaticon-star"></i>
                                <i class="flaticon-star"></i>
                                <i class="flaticon-star-1"></i>
                            </div>
<!--                            <span class="ul-testimonial-2-overview-title">5 Start Rating</span>-->
                            <p class="ul-testimonial-2-overview-descr">"After moving 20+ listings over from spreadsheets, the two-way API sync is incredibly stable; Solid platform with a great feature set, especially the direct booking engine."</p>
                            <div class="ul-testimonial-2-overview-reviewers">
                                <img src="{% static 'website/img/img3.jpg' %}" alt="Reviewer">
                                <img src="{% static 'website/img/img4.jpg' %}" alt="Reviewer">
                                <img src="{% static 'website/img/img5.jpg' %}" alt="Reviewer">
                                <img src="{% static 'website/img/img6.jpg' %}" alt="Reviewer">
                            </div>
                        </div>
                    </div>

                    <!-- txt -->
                    <div class="col-md-8">
                        <div class="ul-testimonial-2-slider swiper">
                            <div class="swiper-wrapper">
                                <!-- single slide -->
                                <div class="swiper-slide">
                                    <div class="ul-review ul-review-2">
                                        <span class="icon"><i class="flaticon-quote-1"></i></span>
                                        <p class="ul-review-descr">I’m not the most tech-savvy person, so I was worried about the learning curve. I was pleasantly surprised by how intuitive the application is. Everything is clearly labeled, and getting my properties linked was a breeze. If you want a channel manager that just works without needing a computer science degree, this is it.</p>
                                        <div class="ul-review-bottom">
                                            <div class="ul-review-reviewer">
                                                <div class="reviewer-image"><img src="{% static 'website/img/img3.jpg' %}" alt="reviewer image"></div>
                                                <div>
                                                    <h3 class="reviewer-name">Manish</h3>
<!--                                                    <span class="reviewer-role">Web Designer</span>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- single slide -->
                                <div class="swiper-slide">
                                    <div class="ul-review ul-review-2">
                                        <span class="icon"><i class="flaticon-quote-1"></i></span>
                                        <p class="ul-review-descr">We started our bnb business in 2022. As we grew over the time, it becomes difficult to manage our listings pen and paper. We used to live in constant fear of a double-booking between Airbnb and VRBO. Since switching to Favhost, that anxiety is completely gone. It’s a total game-changer for our peace of mind.</p>
                                        <div class="ul-review-bottom">
                                            <div class="ul-review-reviewer">
                                                <div class="reviewer-image"><img src="{% static 'website/img/img4.jpg' %}" alt="reviewer image"></div>
                                                <div>
                                                    <h3 class="reviewer-name">Denzel and Emma</h3>
<!--                                                    <span class="reviewer-role">Web Designer</span>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								<div class="swiper-slide">
                                    <div class="ul-review ul-review-2">
                                        <span class="icon"><i class="flaticon-quote-1"></i></span>
                                        <p class="ul-review-descr">Managing one property was fine, but once I hit 14, I was drowning in task management, accountiung and calendar updates. Favhost streamlined everything into a single master calendar view.</p>
                                        <div class="ul-review-bottom">
                                            <div class="ul-review-reviewer">
                                                <div class="reviewer-image"><img src="{% static 'website/img/img5.jpg' %}" alt="reviewer image"></div>
                                                <div>
                                                    <h3 class="reviewer-name">Yiran</h3>
<!--                                                    <span class="reviewer-role">Web Designer</span>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								<div class="swiper-slide">
                                    <div class="ul-review ul-review-2">
                                        <span class="icon"><i class="flaticon-quote-1"></i></span>
                                        <p class="ul-review-descr">The biggest relief since switching is knowing that my calendars are always 100% accurate. The software handles the heavy lifting of OTA synchronization in the background, so I never have to worry about the nightmare of telling a guest their room isn't actually available. It's made the 'host life' much more sustainable.</p>
                                        <div class="ul-review-bottom">
                                            <div class="ul-review-reviewer">
                                                <div class="reviewer-image"><img src="{% static 'website/img/img6.jpg' %}" alt="reviewer image"></div>
                                                <div>
                                                    <h3 class="reviewer-name">Madison</h3>
<!--                                                    <span class="reviewer-role">Web Designer</span>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								
                            </div>

                            <div class="ul-testimonial-2-slider-nav">
                                <button class="prev"><i class="flaticon-back"></i></button>
                                <button class="next"><i class="flaticon-next"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- TESTIMONIAL SECTION END -->

		</section>
       
       
        
    </main>


    <!-- FOOTER SECTION START -->
    <footer class="ul-footer wow animate__fadeInUp">
        <div class="ul-footer-top">
            <div class="ul-footer-container">
                <div class="ul-footer-top-contact-infos">
                    <!-- single info -->
                    <div class="ul-footer-top-contact-info">
                        <!-- icon -->
                        <div class="ul-footer-top-contact-info-icon">
                            <div class="ul-footer-top-contact-info-icon-inner">
                                <i class="flaticon-pin"></i>
                            </div>
                        </div>
                        <!-- txt -->
                        <div class="ul-footer-top-contact-info-txt">
                            <span class="ul-footer-top-contact-info-label">Address</span>
                            <h5 class="ul-footer-top-contact-info-address">4648 Rocky Road Philadelphia PA, 1920</h5>
                        </div>
                    </div>

                    <!-- single info -->
                    <div class="ul-footer-top-contact-info">
                        <!-- icon -->
                        <div class="ul-footer-top-contact-info-icon">
                            <div class="ul-footer-top-contact-info-icon-inner">
                                <i class="flaticon-email"></i>
                            </div>
                        </div>
                        <!-- txt -->
                        <div class="ul-footer-top-contact-info-txt">
                            <span class="ul-footer-top-contact-info-label">Send Email</span>
                            <h5 class="ul-footer-top-contact-info-address"><a href="mailto:info@exmple.com">info@exmple.com</a></h5>
                        </div>
                    </div>

                    <!-- single info -->
                    <div class="ul-footer-top-contact-info">
                        <!-- icon -->
                        <div class="ul-footer-top-contact-info-icon">
                            <div class="ul-footer-top-contact-info-icon-inner">
                                <i class="flaticon-telephone-call-1"></i>
                            </div>
                        </div>
                        <!-- txt -->
                        <div class="ul-footer-top-contact-info-txt">
                            <span class="ul-footer-top-contact-info-label">Call Emergency</span>
                            <h5 class="ul-footer-top-contact-info-address"><a href="tel:88012365499">+88 0123 654 99</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ul-footer-middle">
            <div class="ul-footer-container">
                <div class="ul-footer-middle-wrapper wow animate__fadeInUp">
                    <div class="ul-footer-about">
                        <a href="{% url 'index' %}"><img src="{% static 'website/img/logo1.png' %}" alt="logo" class="logo"></a>
                        <p class="ul-footer-about-txt">Centralizes property management by synchronizing availability, reservations across multiple channels like Airbnb and Vrbo via real-time integrations.</p>
                        <div class="ul-footer-socials">
                            <a href="#"><i class="flaticon-facebook"></i></a>
                            <a href="#"><i class="flaticon-twitter"></i></a>
                            <a href="#"><i class="flaticon-linkedin-big-logo"></i></a>
                            <a href="#"><i class="flaticon-youtube"></i></a>
                        </div>
                    </div>

                    <div class="ul-footer-widget">
                        <h3 class="ul-footer-widget-title">Quick Links</h3>

                        <div class="ul-footer-widget-links">
                            <a href="#feature">Features</a>
                            <a href="#watchdemo">Watch Demo</a>
                            <a href="#priceingg">Pricing</a>
                            <a href="#about">About us</a>
							<a href="#cstories">Customer stories</a>
							<a href="{% url 'blog' %}">Blogs</a>
                            <a href="{% url 'contact' %}">Contact Us</a>
                        </div>
                    </div>

                    <div class="ul-footer-widget ul-footer-recent-posts">
                        <h3 class="ul-footer-widget-title">Recent Posts</h3>

                        <div class="ul-blog-sidebar-posts">
                            <!-- single post -->
                            <div class="ul-blog-sidebar-post ul-footer-post">
                                <div class="img">
                                    <img src="{% static 'website/img/blog-2.jpg' %}" alt="Post Image">
                                </div>

                                <div class="txt">
                                    <span class="date">
                                        <span class="icon"><i class="flaticon-calendar"></i></span>
                                        <span>April 5, 2026</span>
                                    </span>

                                    <h4 class="title"><a href="{% url 'blog-details' 'the-risks-of-manual-management' %}">The Risks of Manual Management</a></h4>
                                </div>
                            </div>

                            <!-- single post -->
                            <div class="ul-blog-sidebar-post ul-footer-post">
                                <div class="img">
                                    <img src="{% static 'website/img/blog-1.jpg' %}" alt="Post Image">
                                </div>

                                <div class="txt">
                                    <span class="date">
                                        <span class="icon"><i class="flaticon-calendar"></i></span>
                                        <span>April 7, 2026</span>
                                    </span>

                                    <h4 class="title"><a href="{% url 'blog-details' 'the-secret-to-scaling-your-rental-business' %}">The Secret to Scaling Your Rental Business</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ul-footer-widget ul-nwsltr-widget">
                        <h3 class="ul-footer-widget-title">Contact Us</h3>
                        <div class="ul-footer-widget-links ul-footer-contact-links">
                            <a href="mailto:info@example.com"><i class="flaticon-mail"></i> info@example.com</a>
                            <a href="tel:123-456-7890"><i class="flaticon-telephone-call"></i> 123-456-7890</a>
                        </div>
                        <form action="#" class="ul-nwsltr-form">
                            <div class="top">
                                <input type="email" name="email" id="nwsltr-email" placeholder="Your Email Address" class="ul-nwsltr-input">
                                <button type="submit"><i class="flaticon-next"></i></button>
                            </div>

                            <div class="agreement">
                                <label for="nwsltr-agreement" class="ul-checkbox-wrapper">
                                    <input type="checkbox" name="agreement" id="nwsltr-agreement" hidden>
                                    <span class="ul-checkbox"><i class="flaticon-tick"></i></span>
                                    <span class="ul-checkbox-txt">I agree with the <a href="privacy-policy.html">Privacy Policy</a></span>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer bottom -->
        <div class="ul-footer-bottom">
            <div class="ul-footer-container">
                <div class="ul-footer-bottom-wrapper">
                    <p class="copyright-txt">&copy;
                        <span id="footer-copyright-year"></span> Favhost.LLC.All rights reserved.
                    </p>
                    <div class="ul-footer-bottom-nav"><a href="{% url 'terms' %}">Terms & Conditions</a> <a href="{% url 'privacy' %}">Privacy Policy</a></div>
                </div>
            </div>
        </div>

        <!-- vector -->
        <div class="ul-footer-vectors">
            <img src="{% static 'website/img/footer-vector-img.png' %}" alt="Footer Image" class="ul-footer-vector-1">
        </div>
    </footer>
    <!-- FOOTER SECTION END -->

    <!-- libraries JS -->
    <script src="{% static 'website/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'website/vendor/splide/splide.min.js' %}"></script>
    <script src="{% static 'website/vendor/splide/splide-extension-auto-scroll.min.js' %}"></script>
    <script src="{% static 'website/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'website/vendor/slim-select/slimselect.min.js' %}"></script>
    <script src="{% static 'website/vendor/animate-wow/wow.min.js' %}"></script>
    <script src="{% static 'website/vendor/splittype/index.min.js' %}"></script>
    <script src="{% static 'website/vendor/mixitup/mixitup.min.js' %}"></script>
    <script src="{% static 'website/vendor/fslightbox/fslightbox.js' %}"></script>
    <script src="{% static 'website/vendor/flatpickr/flatpickr.js' %}"></script>

    <!-- custom JS -->
    <script src="{% static 'website/js/main.js' %}"></script>
    <script src="{% static 'website/js/tab.js' %}"></script>
    <script src="{% static 'website/js/accordion.js' %}"></script>
    <script src="{% static 'website/js/progressbar.js' %}"></script>
    <script src="{% static 'website/js/donate-form.js' %}"></script>
	<script>
	
	 const video   = document.getElementById('demoVideo');
        const overlay = document.getElementById('demoOverlay');
        const playBtn = document.getElementById('playBtn');

        if (playBtn) {
            playBtn.addEventListener('click', () => {
                overlay.style.display = 'none';
                video.play();
            });
            video.addEventListener('click', () => {
                if (!video.paused) { video.pause(); overlay.style.display = 'flex'; }
            });
            video.addEventListener('ended', () => {
                overlay.style.display = 'flex';
                video.currentTime = 0;
            });
        }
	</script>
	
	<script>
document.querySelectorAll(".read-more-btn").forEach(function(btn) {
    btn.addEventListener("click", function() {
        let text = this.previousElementSibling;

        text.classList.toggle("expanded");

        if (text.classList.contains("expanded")) {
            this.innerText = "Read Less";
        } else {
            this.innerText = "Read More";
        }
    });
});
</script>

	
</body>

</html>